

body #container {
  height: 100%;
  width: 100%;
}
#background-video {
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100; /* Ensure video is behind other content */
  background-size: cover;
}

body #container header {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

body #container header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  padding-inline: 2rem;
}
#container ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#container ul li:hover{
  color: #00BFFF;
}


#logo{
  margin-top: 1.3rem;
}
#logo>span{
  height: 100%;
  vertical-align: middle;
  font-size: x-large;
  padding-left: 0.3rem;
}
.body {
  display: flex;
  justify-content: center;
  height: 97%;
}
#header-text {
  color: white;
  font-size: 2.4em;
  padding: 2rem;
  letter-spacing: 5px;
  margin-bottom: 3rem;
}
div.card-container{
  /* margin-top: -4rem; */
}
#card{
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 20px rgba(219, 219, 219, 0.9);
  color: white;
  background-color: #0000005c;
  height: 23rem;
  overflow: hidden;
}
#card:hover{
  border: 1px solid rgba(219, 219, 219, 0.9);
}

@media screen and (max-width: 1024px) {
   body #container header nav ul {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  body #container header nav ul {
   display: flex;
   flex-direction: column;
 }
}